@using BugTracker_1._1.Models
@model ApplicationUser
@{
    ViewBag.Title = "ManageUserRole";
}

<style>
    .btnWide {
        width: 25%;
    }
</style>

<h2>ManageUserRoles</h2>

<div class="row">
    <div class="col-lg-3 text-center h2">
        Managing Role for @Model.FullName
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-3">
            @Html.DropDownList("RoleName", "Unassigned Role")
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-danger btnWide" type="submit">Manage Role</button>
        </div>
    </div>
}

